## Variables

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

3. Store your first, middle and last name in three different variables and then print your full name using these variables

4. Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [1]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

It gives a syntax error because ***break*** is a keyword in Python and cannot be used as a variable name.

In [2]:
birth_year = 1999
current_year = 2023

my_age = current_year - birth_year
my_age

24

In [3]:
first_name = "Glory"
middle_name = "Adenike"
last_name = "Odeyemi"

print("My name is " + first_name + " " + middle_name + " " + last_name + ".")

My name is Glory Adenike Odeyemi.

In [4]:
_nation = "test"

In [5]:
1record = "test"

SyntaxError: invalid syntax (1379113486.py, line 1)

In [6]:
record1 = "test"

In [7]:
record_one = "test"

In [8]:
record-one = "test"

SyntaxError: cannot assign to operator (3223843541.py, line 1)

In [9]:
record^one = "test"

SyntaxError: cannot assign to operator (921263059.py, line 1)

In [10]:
continue = "test"

SyntaxError: invalid syntax (2114305636.py, line 1)

***_nation, record1, and record_one*** are valid variable names, while, ***1record, record-one, record^one, and continue*** are invalid.

## Numbers

1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
4. Print binary representation of number 17

In [15]:
length = 92
width = 48.8

print(f"The total area of the football field is {length * width}.")

The total area of the football field is 4489.599999999999.

In [19]:
num_of_packets = 9
price_of_1_packet = 1.49
total_amount_paid = 20

total_cost = num_of_packets * price_of_1_packet

print(f"Total cost of packet bought is ${total_cost} and the change from shopkeeper is ${total_amount_paid - total_cost}.")

Total cost of packet bought is $13.41 and the change from shopkeeper is $6.59.

In [22]:
length = 5.5
area = length ** 2
ind_cost = 500

print(f"Area of bathroom tiles = {area}")
print(f"Total cost to replace tiles = {area * ind_cost} rs")

Area of bathroom tiles = 30.25
Total cost to replace tiles = 15125.0 rs

In [23]:
print(f"The binary representation of the number 17 is {bin(17)}.")

The binary representation of the number 17 is 0b10001.

## Strings

1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
* Print "revolves" using slice operator
* Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [14]:
street = "123 Test street"
city = "Lagos"
country = "Nigeria"

address_concat = street + "\n" + city + "\n" + country
address_f = f"{street}\n{city}\n{country}"

print(address_concat)
print("-"*15)
print(address_f)
# print("-"*32)
# print(f"Street: {street}\nCity: {city}\nCountry: {country}")

123 Test street
Lagos
Nigeria
---------------
123 Test street
Lagos
Nigeria

In [8]:
text = "Earth revolves around the sun"

print(text[6:14])
print(text[-3:])

revolves
sun

In [9]:
fruits = 2
vegetables = 0

print(f"I eat {vegetables} veggies and {fruits} fruits daily")

I eat 0 veggies and 2 fruits daily

In [16]:
s='maine 200 banana khaye'

print(s.replace('200', '10').replace('banana', 'samosa'))

maine 10 samosa khaye

## Lists

1. Let us say your expense for every month are listed below,

    i. January - 2200

    ii. February - 2350

    iii. March - 2600

    iv. April - 2130

    v. May - 2190

Create a list to store these monthly expenses and using that find out,

* In Feb, how many dollars you spent extra compare to January?
* Find out your total expense in first quarter (first three months) of the year.
* Find out if you spent exactly 2000 dollars in any month
* June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
* You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

2. You have a list of your favourite marvel super heros.

    heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

* Length of the list
* Add 'black panther' at the end of this list
* You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
* Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
* Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [24]:
expense = [2200, 2350, 2600, 2130, 2190]

print(f"In Feb, I spent ${expense[1] - expense[0]} extra compared to January")
print(f"My total expense in first quarter (first three months) of the year = ${expense[0] + expense[1] + expense[2]}")
print(f"Did I spend exactly $2000 in any month: {2000 in expense}")
expense.append(1980)
april_refund = 200
expense[3] = expense[3] - 200
print(f"Monthly expense list: {expense}")

In Feb, I spent $150 extra compared to January
My total expense in first quarter (first three months) of the year = $7150
Did I spend exactly $2000 in any month: False
Monthly expense list: [2200, 2350, 2600, 1930, 2190, 1980]

In [43]:
heros = ['spider man','thor','hulk','iron man','captain america']

print(f"Length of the list: {len(heros)}")
heros.append('black panther')
heros.remove('black panther')
heros.insert(3, 'black panther')
del heros[1:3]
heros.insert(1, 'doctor strange')
print(f"Unsorted list: {heros}")
print("*"*50)
print(f"Functions in a list:\n{dir(heros)}")
heros.sort()
print("*"*50)
print(f"Sorted list: {heros}")

Length of the list: 5
Unsorted list: ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
**************************************************
Functions in a list:
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
**************************************************
Sorted list: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

## If Condition

1. Using following list of cities per country,
    india = ["mumbai", "banglore", "chennai", "delhi"]
    pakistan = ["lahore","karachi","islamabad"]
    bangladesh = ["dhaka", "khulna", "rangpur"]
* Write a program that asks user to enter a city name and it should tell which country the city belongs to
* Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

2. Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
* Ask user to enter his fasting sugar level
* If it is below 80 to 100 range then print that sugar is low
* If it is above 100 then print that it is high otherwise print that it is normal

In [51]:
sugar_input = int(input("Enter your sugar level: "))

if sugar_input < 80:
    print("Your sugar level is low.")
elif sugar_input > 100:
    print("Your sugar level is high.")
else:
    print("Your sugar level is normal.")

Enter your sugar level: 50
Your sugar level is low.

In [58]:
india = ["mumbai", "banglore", "chennai", "delhi"] 
pakistan = ["lahore","karachi","islamabad"] 
bangladesh = ["dhaka", "khulna", "rangpur"]

In [60]:
city = input("Enter a city: ").lower()

if city in india:
    print(f"{city} is in India.")
elif city in pakistan:
    print(f"{city} is in Pakistan.")
elif city in bangladesh:
    print(f"{city} is in Bangladesh.")
else:
    print(f"{city} is not recognized, please try again.")

Enter a city: Islamabad
islamabad is in pakistan.

In [65]:
city1 = input("Enter the first city: ").lower()
city2 = input("Enter the second city: ").lower()

if city1 in india and city2 in india:
    print("Both cities are in India.")
elif city1 in pakistan and city2 in pakistan:
    print("Both cities are in Pakistan.")
elif city1 in bangladesh and city2 in bangladesh:
    print("Both cities are in Bangladesh.")
else:
    print("They don't belong to same country.")

Enter the first city: rangpur
Enter the second city: delhi
They don't belong to same country.