## Variables

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

3. Store your first, middle and last name in three different variables and then print your full name using these variables

4. Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [1]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

It gives a syntax error because ***break*** is a keyword in Python and cannot be used as a variable name.

In [2]:
birth_year = 1999
current_year = 2023

my_age = current_year - birth_year
my_age

24

In [3]:
first_name = "Glory"
middle_name = "Adenike"
last_name = "Odeyemi"

print("My name is " + first_name + " " + middle_name + " " + last_name + ".")

My name is Glory Adenike Odeyemi.

In [4]:
_nation = "test"

In [5]:
1record = "test"

SyntaxError: invalid syntax (1379113486.py, line 1)

In [6]:
record1 = "test"

In [7]:
record_one = "test"

In [8]:
record-one = "test"

SyntaxError: cannot assign to operator (3223843541.py, line 1)

In [9]:
record^one = "test"

SyntaxError: cannot assign to operator (921263059.py, line 1)

In [10]:
continue = "test"

SyntaxError: invalid syntax (2114305636.py, line 1)

***_nation, record1, and record_one*** are valid variable names, while, ***1record, record-one, record^one, and continue*** are invalid.

## Numbers

1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
4. Print binary representation of number 17

In [15]:
length = 92
width = 48.8

print(f"The total area of the football field is {length * width}.")

The total area of the football field is 4489.599999999999.

In [19]:
num_of_packets = 9
price_of_1_packet = 1.49
total_amount_paid = 20

total_cost = num_of_packets * price_of_1_packet

print(f"Total cost of packet bought is ${total_cost} and the change from shopkeeper is ${total_amount_paid - total_cost}.")

Total cost of packet bought is $13.41 and the change from shopkeeper is $6.59.

In [22]:
length = 5.5
area = length ** 2
ind_cost = 500

print(f"Area of bathroom tiles = {area}")
print(f"Total cost to replace tiles = {area * ind_cost} rs")

Area of bathroom tiles = 30.25
Total cost to replace tiles = 15125.0 rs

In [23]:
print(f"The binary representation of the number 17 is {bin(17)}.")

The binary representation of the number 17 is 0b10001.

## Strings

1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
* Print "revolves" using slice operator
* Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [14]:
street = "123 Test street"
city = "Lagos"
country = "Nigeria"

address_concat = street + "\n" + city + "\n" + country
address_f = f"{street}\n{city}\n{country}"

print(address_concat)
print("-"*15)
print(address_f)
# print("-"*32)
# print(f"Street: {street}\nCity: {city}\nCountry: {country}")

123 Test street
Lagos
Nigeria
---------------
123 Test street
Lagos
Nigeria

In [8]:
text = "Earth revolves around the sun"

print(text[6:14])
print(text[-3:])

revolves
sun

In [9]:
fruits = 2
vegetables = 0

print(f"I eat {vegetables} veggies and {fruits} fruits daily")

I eat 0 veggies and 2 fruits daily

In [16]:
s='maine 200 banana khaye'

print(s.replace('200', '10').replace('banana', 'samosa'))

maine 10 samosa khaye

## Lists

1. Let us say your expense for every month are listed below,

    i. January - 2200

    ii. February - 2350

    iii. March - 2600

    iv. April - 2130

    v. May - 2190

Create a list to store these monthly expenses and using that find out,

* In Feb, how many dollars you spent extra compare to January?
* Find out your total expense in first quarter (first three months) of the year.
* Find out if you spent exactly 2000 dollars in any month
* June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
* You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

2. You have a list of your favourite marvel super heros.

    heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

* Length of the list
* Add 'black panther' at the end of this list
* You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
* Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
* Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [24]:
expense = [2200, 2350, 2600, 2130, 2190]

print(f"In Feb, I spent ${expense[1] - expense[0]} extra compared to January")
print(f"My total expense in first quarter (first three months) of the year = ${expense[0] + expense[1] + expense[2]}")
print(f"Did I spend exactly $2000 in any month: {2000 in expense}")
expense.append(1980)
april_refund = 200
expense[3] = expense[3] - 200
print(f"Monthly expense list: {expense}")

In Feb, I spent $150 extra compared to January
My total expense in first quarter (first three months) of the year = $7150
Did I spend exactly $2000 in any month: False
Monthly expense list: [2200, 2350, 2600, 1930, 2190, 1980]

In [43]:
heros = ['spider man','thor','hulk','iron man','captain america']

print(f"Length of the list: {len(heros)}")
heros.append('black panther')
heros.remove('black panther')
heros.insert(3, 'black panther')
del heros[1:3]
heros.insert(1, 'doctor strange')
print(f"Unsorted list: {heros}")
print("*"*50)
print(f"Functions in a list:\n{dir(heros)}")
heros.sort()
print("*"*50)
print(f"Sorted list: {heros}")

Length of the list: 5
Unsorted list: ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
**************************************************
Functions in a list:
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
**************************************************
Sorted list: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

## If Condition

1. Using following list of cities per country,
    india = ["mumbai", "banglore", "chennai", "delhi"]
    pakistan = ["lahore","karachi","islamabad"]
    bangladesh = ["dhaka", "khulna", "rangpur"]
* Write a program that asks user to enter a city name and it should tell which country the city belongs to
* Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

2. Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
* Ask user to enter his fasting sugar level
* If it is below 80 to 100 range then print that sugar is low
* If it is above 100 then print that it is high otherwise print that it is normal

In [51]:
sugar_input = int(input("Enter your sugar level: "))

if sugar_input < 80:
    print("Your sugar level is low.")
elif sugar_input > 100:
    print("Your sugar level is high.")
else:
    print("Your sugar level is normal.")

Enter your sugar level: 50
Your sugar level is low.

In [58]:
india = ["mumbai", "banglore", "chennai", "delhi"] 
pakistan = ["lahore","karachi","islamabad"] 
bangladesh = ["dhaka", "khulna", "rangpur"]

In [60]:
city = input("Enter a city: ").lower()

if city in india:
    print(f"{city} is in India.")
elif city in pakistan:
    print(f"{city} is in Pakistan.")
elif city in bangladesh:
    print(f"{city} is in Bangladesh.")
else:
    print(f"{city} is not recognized, please try again.")

Enter a city: Islamabad
islamabad is in pakistan.

In [65]:
city1 = input("Enter the first city: ").lower()
city2 = input("Enter the second city: ").lower()

if city1 in india and city2 in india:
    print("Both cities are in India.")
elif city1 in pakistan and city2 in pakistan:
    print("Both cities are in Pakistan.")
elif city1 in bangladesh and city2 in bangladesh:
    print("Both cities are in Bangladesh.")
else:
    print("They don't belong to same country.")

Enter the first city: rangpur
Enter the second city: delhi
They don't belong to same country.

## For Loop

1. After flipping a coin 10 times you got this result,
      
    result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

Using for loop figure out how many times you got heads


2. Print square of all numbers between 1 to 10 except even numbers


3. Your monthly expense list (from Jan to May) looks like this,
   
   expense_list = [2340, 2500, 2100, 3100, 2980]

Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.


4. Lets say you are running a 5 km race. Write a program that,
    * Upon completing each 1 km asks you "are you tired?"
    * If you reply "yes" then it should break and print "you didn't finish the race"
    * If you reply "no" then it should continue and ask "are you tired" on every km
    * If you finish all 5 km then it should print congratulations message


5. Write a program that prints following shape


    *
    **
    ***
    ****
    *****

In [2]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
counter = 0

for opt in result:
    if opt == "heads":
        counter += 1;
    else:
        counter = counter
        
print(f"The number of time heads appear = {counter}")

The number of time heads appear = 4

In [10]:
print("Sqaure of all odd numbers between 1 to 10\n" + "*"*41)

for ind in range(1,10):
    if ind % 2 == 0:
        continue
    print(f"{ind} -> {ind ** 2}")

Sqaure of all odd numbers between 1 to 10
*****************************************
1 -> 1
3 -> 9
5 -> 25
7 -> 49
9 -> 81

In [38]:
expense_list = [2340, 2500, 2100, 3100, 2980]
exp_month = ['January', 'February', 'March', 'April', 'May']
exp_amt = int(input("Enter an expense amount:"))

if exp_amt in expense_list:
    for amt in expense_list:
        if amt == exp_amt:
            exp_ind = expense_list.index(amt)
            print(f"Expense occured in {exp_month[exp_ind]}.")
            break 
            
#             if exp_ind == 1:
#                 print(f"Expense occured in January.")
#                 break
#             elif exp_ind == 2:
#                 print(f"Expense occured in February.")
#                 break
#             elif exp_ind == 3:
#                 print(f"Expense occured in March.")
#                 break
#             elif exp_ind == 4:
#                 print(f"Expense occured in April.")
#                 break
#             elif exp_ind == 5:
#                 print(f"Expense occured in May.")
#                 break
else:
    print("Expense not found!")

Enter an expense amount:2600
Expense not found!

In [5]:
km_count = 0

for km in range(5):
    print(f"{km+1}km\n" + "*"*3)
    answer = input("are you tired? ").lower()
    if answer == "yes":
        print("you didn't finish the race")
        break
    elif answer == "no":
        continue
    km_count += 1
        
if km_count == 5:
    print("Congratulations!!! You finished the race.")

1km
***
are you tired? no
2km
***
are you tired? no
3km
***
are you tired? no
4km
***
are you tired? no
5km
***
are you tired? yes
you didn't finish the race

In [6]:
for line in range(5):
    print("*"*(line+1))

*
**
***
****
*****

## Functions

1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
    
    area = (1/2)*base*height
   
   
2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,

    rectangle area=length*width
    
If no shape is supplied then it should take triangle as a default shape


3. Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,


    *
    **
    ***
    
if input is 4 then it should print

    *
    **
    ***
    ****

Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)

In [8]:
def calculate_area(base, height):
    area = 1/2 * base * height
    return area

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

print(f"The area of the triangle is = {calculate_area(base, height)}")

Enter the base of the triangle: 5
Enter the height of the triangle: 8
The area of the triangle is = 20.0

In [22]:
def calculate_area(base, height, shape="triangle"):
    if shape == "triangle":
        area = 1/2 * base * height
        print(f"The area of the {shape} is = {area}")
        
    elif shape == "rectangle":
        length = height
        width = base
        area = length * width
        print(f"The area of the {shape} is = {area}")
        
    else:
        print(f"Sorry! I cannot calculate the area of {shape}.")
#         area = "Not found!"
        
#     return area

# shape = input("Enter the shape: ").lower()
# base = float(input("Enter the base of the shape: "))
# height = float(input("Enter the height of the shape: "))

calculate_area(4, 6, "triangle")

The area of the triangle is = 12.0

In [29]:
def print_pattern(pat_num):
    for line in range(pat_num):
        print("*"*(line+1))
        
print_pattern(10)

*
**
***
****
*****
******
*******
********
*********
**********

## Dict and Tuples

1. We have following information on countries and their population (population is in crores),

    | Country | Population |
    | ------- | ---------- |
    | China | 143 |
    | India | 136 |
    | USA | 32 |
    | Pakistan | 21| 

* Using above create a dictionary of countries and its population
* Write a program that asks user for three type of inputs,

    a. print: if user enter print then it should print all countries with their population in this format,
        china==>143
        india==>136
        usa==>32
        pakistan==>21
    b. add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it
    
    c. remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!
    
    d. query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.


2. You are given following list of stocks and their prices in last 3 days,
    
    | Stock | Prices |
    | ----- | ------ |
    | info | [600,630,620] |
    | ril | [1430,1490,1567] |
    | mtl | [234,180,160] |
    
* Write a program that asks user for operation. Value of operations could be,

    a. print: When user enters print it should print following,
        info ==> [600, 630, 620] ==> avg:  616.67
        ril ==> [1430, 1490, 1567] ==> avg:  1495.67
        mtl ==> [234, 180, 160] ==> avg:  191.33
        
    b. add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list (like info, ril etc) then it will append the price to the list. Otherwise it will create new entry in your dictionary. For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.


3. Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

In [41]:
Country = ['China', 'India', 'USA', 'Pakistan']
Population = [143, 136, 32, 21]

country_dict = dict(zip(Country, Population))
country_dict

{'China': 143, 'India': 136, 'USA': 32, 'Pakistan': 21}

In [65]:
def print_countries():
    for key, val in country_dict.items():
        print(f"{key}==>{val}")
        
def add_country():
    c_name = input("Enter the country to add: ")
    if c_name in country_dict.keys():
        print("Sorry, country already exists.")
    else:
        pop = int(input(f"Enter the population for {c_name}: "))
        country_dict[c_name] = pop
        print(f"{c_name} added! The new dictionary is:")
        print_countries()
        
def remove_country():
    c_name = input("Enter the country to remove: ")
    if c_name in country_dict.keys():
        del country_dict[c_name]
        print(f"{c_name} removed! The new dictionary is:")
        print_countries()
    else:
        print("Sorry, country does not exist.")
        
def query_country():
    c_name = input("Enter the country to query: ")
    if c_name in country_dict.keys():
        print(f"The population for {c_name} = {country_dict[c_name]}")
    else:
        print("Sorry, country does not exist.")

In [68]:
user_input = input("Enter a command (print, add, remove, query): ").lower()

if user_input == "print":
    print_countries()       
elif user_input == "add":
    add_country()        
elif user_input == "remove":
    remove_country()        
elif user_input == "query":
    query_country()
else:
    print("I'm sorry, I do not understand your command.")

Enter a command (print, add, remove, query): query
Enter the country to query: USA
The population for USA = 32

In [84]:
stock = ['info', 'ril', 'mtl']
prices = [[600,630,620], [1430,1490,1567], [234,180,160]]

stock_dict = dict(zip(stock, prices))
stock_dict

{'info': [600, 630, 620], 'ril': [1430, 1490, 1567], 'mtl': [234, 180, 160]}

In [98]:
import numpy as np

def print_stock():
    for key, val in stock_dict.items():
        print(f"{key} ==> {val} ==> avg: {round(np.average(val), 2)}")
        
def add_stock():
    ticker = input("Enter the stock ticker to add: ")
    price = int(input("Enter the price: "))
    if ticker in stock_dict.keys():
        stock_dict[ticker].append(price)
        print(f"{ticker} exists and {price} added!")
    else:
        stock_dict[ticker] = [price]
        print(f"{ticker} and {price} added! The new dictionary is:")
    
    print("The updated dictionary is:")
    print_stock()

In [100]:
user_in = input("Enter a command (print or add): ").lower()

if user_in == "print":
    print_stock()       
elif user_in == "add":
    add_stock()        
else:
    print("I'm sorry, I do not understand your command.")

Enter a command (print or add): add
Enter the stock ticker to add: okl
Enter the price: 200
okl and 200 added! The new dictionary is:
The updated dictionary is:
info ==> [600, 630, 620, 700, 650] ==> avg: 640.0
ril ==> [1430, 1490, 1567, 800] ==> avg: 1321.75
mtl ==> [234, 180, 160] ==> avg: 191.33
upt ==> [900] ==> avg: 900.0
okl ==> [200] ==> avg: 200.0

In [97]:
import math

def circle_calc():
    radius = float(input("Enter the radius of the circle: "))
    area = round(math.pi*(radius**2), 2)
    circumference = round(2*math.pi*radius, 2)
    diameter = round(2*radius, 2)
    
    return area, circumference, diameter

area, circumference, diameter = circle_calc()
print(f"The area of the circle is = {area}\nThe cirumference of the circle is "+
      f"= {circumference}\nThe diameter of the circle is = {diameter}")

Enter the radius of the circle: 5
The area of the circle is = 78.54
The cirumference of the circle is = 31.42
The diameter of the circle is = 10.0